<main>
    <h2>{{ cake.name }}</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{cake.img}}" height="500px">
            </div>

            <div class="col">
        
                <p>Description: {{cake.description}}</p>

                {{#if cake.isVegan}}
                <p>This cake is vegan</p>
                {{/if}}

                <p>Price: ${{cake.price}}</p>
        
                <p>Quantity Available: {{cake.qty}}</p>

                
            </div>
        
        </div>

    </div>

</main>

<footer>
                <form action="cakes/{{ cake.id }}?_method=DELETE" method="POST">
			    <input type="submit" value="Delete"/>
		        </form>
                
                <a href="/cakes/{{ cake.id }}/edit">Edit</a>
</footer>