<main>

	<div class="container">
		<div class="row">

			{{#each items }}
        	<div class="col">
					<a href="/{{ category }}s/{{ id }}">
                        <img src="{{ img }}" height="200px" >
                    </a>
					<h3>   <a href="{{category}}s/{{ id }}">{{ name }}</a>   </h3>
        	</div>
			{{/each}}
        </div>
	</div>
</main>