<main>
    <h2>{{ item.name }}</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{item.img}}" height="500px">
            </div>

            <div class="col">
                {{#if item.description}}
                    <p>Description: {{ item.description }}</p>
                {{/if}}


                {{#if item.isVegan}}
                <p>This cake is vegan</p>
                {{/if}}
        
                {{#if item.color}}
                    <p>Color: {{item.color}}</p>
                {{/if}}

                {{#if item.size}}
                    <p>Size: {{item.size}}</p>
                {{/if}}

                <p>Price: ${{item.price}}</p>

                <p>Quantity Available: {{item.qty}}</p>

                
            </div>
        
        </div>

    </div>
    <form action="/{{item.category}}s/{{ item.id }}?_method=DELETE" method="POST">
			    <input type="submit" value="Delete"/>
		        </form>
                
    <a href="/{{item.category}}s/{{ item.id }}/edit">Edit</a>

</main>