<main>
    <h2>{{ balloon.name }}</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{balloon.img}}" height="500px">
            </div>

            <div class="col">
        
                <p>Color: {{balloon.color}}</p>

                <p>Price: ${{balloon.price}}</p>
        
                <p>Quantity Available: {{balloon.qty}}</p>

                
            </div>
        
        </div>

    </div>

</main>

<footer>
                <form action="/balloons/{{ balloon.id }}?_method=DELETE" method="POST">
			    <input type="submit" value="Delete"/>
		        </form>
                
                <a href="/balloons/{{ balloon.id }}/edit">Edit</a>
</footer>