<main>
    <h2>{{ balloon.name }}</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{balloon.img}}">
            </div>

            <div class="col">
        
                <p>Color: {{balloon.color}}</p>

                <p>Price: ${{balloon.price}}</p>
        
                <p>Quantity Available: {{balloon.qty}}</p>

                <a href="/balloons/{{ balloon.id }}/edit">Edit</a>
            </div>
        
        </div>

    </div>

</main>

