<main>

	<h2>EDIT THIS Balloon!</h2>

	<div></div>


		<form action="/balloons/{{ balloon.id }}?_method=PUT" method="POST">
			Name: <input type="text" name="name" value="{{ balloon.name }}"/><br/>
			Color: <input type="text" name="color" value="{{ balloon.color }}"/><br/>
			Price: <input type="number" name="price" value="{{ balloon.price }}"/><br/>
			Quantity: <input type="number" name="qty" value="{{ balloon.qty }}"/><br/>
			Image: <input type="text" name="img" value="{{ balloon.img }}"/><br/>
			<input type="submit" value="Edit Balloon"/>
		</form>

	</div>
</main>
